body {
    background-color: rgb(29, 29, 31);
    margin: 0;
    animation-name: start;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
}
@keyframes start{
    from{
        opacity: 0;
    }
    to{
       opacity: 1;
    }
}

#header {
    color: azure;
    height: 15%;
    background-color: rgb(31, 42, 52);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    cursor: url(./image/p.png) 0 0, pointer;
}

.menu:hover {
    animation-name: menuColor; 
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes menuColor{
    from{
        background-color: rgb(31, 42, 52);
        color: azure;
    }
    to{
        background-color: rgb(58, 64, 99);
        color:rgb(255, 245, 194);
    }
}
#title {
    flex: 3;
    font-family: 'Brush Script MT', cursive;
    font-size: 27px;
    color: rgb(252, 244, 200);
}

.menu {
    flex: 5;
    padding: 20PX;
    animation: menuBack 500ms forwards;
}

@keyframes menuBack{
    from{
        background-color: rgb(58, 64, 99);
        color:rgb(255, 245, 194);
    }
    to{
        background-color: rgb(31, 42, 52);
        color: azure;
    }
}


.bodycontent{
    font-family:garamond;
    color:#f1f1f1;
    animation-name: float;
    animation-delay: 300ms;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes float {
    from{
        position: relative;
        margin-top: 50px;
        opacity: 0;
    }
    to{
        position: relative;
        margin-top: 0px;
        opacity: 1;
    }
    
}

#bigtitle{
    font-size: 40px;
    grid-area: bt;
}

#subtitle{
    font-size: 32px;
    grid-area: st;
}

#line1{
    font-size: 27px;
    grid-area: l1;
}

#line2{
    font-size: 25px;
    grid-area: l2;
}

.box { 
    margin: 0; 
    flex:1;
}

.list { 
    width: 30px; 
    height: 30px; 
    align-items: center;
    position: relative; 
    display: inline-block;
    margin-top: 2px;
}

.list:before, .list:after { 
    content: ""; 
    display: block; 
    width: 30px; 
    height: 4.0px; 
    background: #ffd9d999; 
    border-radius: 2.4px; 
    position: absolute; 
    left: 0; 
    -webkit-transition: all 300ms ease-in-out; 
    transition: all 300ms ease-in-out; 
}

.list:before { 
    top: 1.5px; 
    box-shadow: 0 11.1px #ffd9d999; 
}

.list:after { 
    bottom: 1.5px; 
}

.list:hover:before { 
    top: 12.6px; 
    box-shadow: none; 
    -webkit-transform: rotate(225deg); 
    transform: rotate(225deg); 
}

.list:hover:after { 
    bottom: 12.6px; 
    -webkit-transform: rotate(135deg); 
    transform: rotate(135deg); 
}

.dropbtn {
    width: 180px;
    position: relative;
    background-color: rgb(39, 56, 66);
    color: rgba(255, 203, 203, 0.829);
    padding: 16px;
    font-size: 16px;
    z-index: 2;
    border: none;
    cursor: url(./image/p.png) 0 0, pointer;
    font-family: 'Trebuchet MS', sans-serif;
}

.dropup {
    cursor: url(./image/p.png) 0 0, pointer;
    position: fixed;
    right: 0px;
    bottom: 0px;;
    border: 0;
    background: #273633a5;
    width: 180px;
    height: 50px;
    color: #dbb4b4;
    text-align: center;
    align-items: center;
}


.dropup-content {
    cursor: url(./image/p.png) 0 0, pointer;
    display: block;
    position: absolute;
    bottom: -300px;
    opacity: 0;
    z-index: 2;
    background-color: #1d282660 ;
    min-width: 180px;
    border-color: rgb(91, 91, 91);
    border-width: 0.5px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    animation: fall 700ms forwards;
}


.dropup-content a {
    font-family: 'Trebuchet MS', sans-serif;
    color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-color: rgba(91, 91, 91, 0.62);
    border-width: 0.25px;
    border-left: 40px;
    border-left-color: transparent;
    border-right: 40px;
    border-right-color: transparent;
    border-style: solid;
}


.dropup:hover .dropup-content {
  display: block;
  animation: jump 700ms forwards;
}

@keyframes jump {
    from{
        bottom: -300px;
        opacity: 0;
    }
    to{
        bottom: 50px;
        opacity: 1;
    }
}


@keyframes fall {
    from{
        bottom: 50px;
        opacity: 1;
    }
    to{
        bottom: -300px;
        opacity: 0;
    }
}
