body {
 background-color: navy;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

select, input, button {
  margin-bottom: 10px;
}

#complimentText {
  font-size: 20px;
  font-weight: bold;
}

.hidden {
  display: none;
}
